
.container {
  margin-top: 5vw;
}

h2 {
  color: black;
  text-align: center;
  font-size: 3vw;
  

}

.title {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.bar {
  width: 90%;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 3s linear;
  border: 1px solid black;
}

.bar-1,
.my-skills {
  width: 80%;
  margin: 10px auto 25px;
}

.bar-inner {
  width: 0;
  height: 35px;
  line-height: 35px;
  background: #EED3D9;
  border-radius: 5px 0 0 5px;
}

.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
}

@media (max-width: 600px) {
  h2{
    font-size: 6vw;
  }
}
